<ion-header-bar align-title="center" class="bar-light create_detail">
  <a class="button button-clear ion-ios-arrow-left" href="#/create/name"></a>
  <!-- <button class="button button-clear ion-ios-arrow-left"></button> -->
  <h1 class="title">创建菜谱</h1>
</ion-header-bar>

<ion-content class="create_detail">
	<div class="cover">
		<div class="cpfm">
			+ 菜谱封面
		</div>
	</div>
	<div class="box">
    <input type="text" ng-model="name">
    <textarea placeholder="输入这道美食背后的故事"></textarea>
    <div class="material">
      <h4>用料</h4>
      <!--插件-->
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        <ion-item ng-repeat="material in materials" item="material" class="item-remove-animate">
          <input type="text" placeholder="食材：如鸡蛋" ng-model="material.material">
          <input type="text" placeholder = "用量：如1个" ng-model="material.amount">

          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(material)"> </ion-delete-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(material, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
      </ion-list>
      <!--插件 end-->

      <div class="add">
        <a class="" ng-click="addMore()">再增加一行</a>
        <a class="adj_sure" ng-bind="data.adj" ng-click="adjItem()" ></a>
      </div>
    </div>

    <div class="steps">
      <h4>做法</h4>
      <div class="step1">
        <h4>步骤一</h4>
        <div class="">
          + 步骤图
        </div>
        <input type="text" placeholder="添加步骤说明">
      </div>
      <div class="step2">
        <h4>步骤二</h4>
        <div class="">
          + 步骤图
        </div>
        <input type="text" placeholder="添加步骤说明">
      </div>
      <div class="add">
        <a class="" >再增加一步</a>
        <a class="adj_sure" ng-click="data.showDelete = !data.showDelete; data.showReorder = !data.showReorder">调整步骤</a>
      </div>
    </div>
	</div>

  <div class="tag">
    <ul class="list">
      <li class="item item-toggle menutag">
        推荐至分类
        <label class="toggle toggle-positive">
          <i class="icon ion-chevron-right"></i>
        </label>
      </li>
      <li class="item item-toggle scoop">
        独家菜谱
        <label class="toggle toggle-balanced">
          <input type="checkbox" checked="">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
  </div>
  <button class="publish">发布这个菜谱</button>
</ion-content>
