<ion-header-bar align-title="center" class="bar-light create">

	<h1 class="title" ng-click="createDetail()">
		<a href="#" class="cancel" ng-click="show()">取消</a>
		菜谱名称
		<a href="" class="next" ng-click="createDetail()">下一步</a>
	</h1>

</ion-header-bar>

<ion-content class="create" >

	<div class="row">
		<div class="writename">
			<input autofocus type="search" class="" ng-model="data.menuName" placeholder="添加菜谱名称">
			</div>
	</div>

</ion-content>
<!--

<ion-footer-bar align-title="center" class="bar-assertive createfoot">
  <h1 class="title">草稿箱</h1>
</ion-footer-bar>
-->
