<ion-header-bar align-title="center" class="bar-light">
  <a href="#/tab/ikitchen"><div class="ion-arrow-left-c"></div></a>
  <h1 class="title">本周流行菜谱</h1>
</ion-header-bar>

<ion-content class="weekly_popu">

	<div class="list card" ng-repeat="i in popu_data">
	
		<div class="item item-image">
	       <img ng-src="{{i.imgurl}}" />
	    </div>

	    <div class="item">
	       <h2 ng-bind="i.title"></h2>
	       <p ng-bind="i.score+'分'+i.people+'人做过'"></p>
	       <div class="avatar">
				<img src="{{i.avatar}}">
				<h4>{{i.name}}</h4>
		   </div>
	     </div>

	</div>

</ion-content>


