	<ion-header-bar align-title="center" class="bar-light">
	  <div class="ion-arrow-left-c"></div>
	  <h1 class="title">本周流行菜谱</h1>
	</ion-header-bar>

	<ion-content class="weekly_popu">
		

		<div class="list card">
			<div class="item item-avatar">
				<img src="avatar.jpg">
				<h2>Pretty Hate Machine</h2>
			</div>
			<div class="item item-image">
				<img src="cover.jpg">
			</div>
			<a class="item item-icon-left assertive"href="#">
				<i class="icon ion-music-note">
				</i> Start listening
		    </a>
		</div>

		<div class="list card">
		     <div class="item item-image">
		       <img ng-src="../img/popu1.png" />
		     </div>

		     <div class="item bb">
				<img src="../img/avatar2.jpg">
				<h4>Lucky 荷</h4>
			</div>

		     <div class="item">
		       <h2>蛋黄酥</h2>
		       <p>8.8分</p>
		     </div>

		 </div>
		  <div class="list card">
		     <div class="item item-image">
		       <img ng-src="" />
		     </div>
		     <div class="item">
		       <h2>蛋黄酥</h2>
		       <p>8.8分</p>
		     </div>
		 </div>

		 <div class="list card">
		     <div class="item item-image">
		       <img ng-src="" />
		     </div>
		     <div class="item">
		       <h2>蛋黄酥</h2>
		       <p>8.8分</p>
		     </div>
		 </div>
		  <div class="list card">
		     <div class="item item-image">
		       <img ng-src="" />
		     </div>
		     <div class="item">
		       <h2>蛋黄酥</h2>
		       <p>8.8分</p>
		     </div>
		 </div>
		 <div class="list card">
		     <div class="item item-image">
		       <img ng-src="" />
		     </div>
		     <div class="item">
		       <h2>蛋黄酥</h2>
		       <p>8.8分</p>
		     </div>
		 </div>
		  <div class="list card">
		     <div class="item item-image">
		       <img ng-src="" />
		     </div>
		     <div class="item">
		       <h2>蛋黄酥</h2>
		       <p>8.8分</p>
		     </div>
		 </div>
</ion-content>


