<ion-header-bar align-title="center" class="bar-light menulist">
	<div class="bar bar-header item-input-inset">
	  <button class="button button-clear ion-ios-arrow-left"></button>
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	    <i class="icon ion-ios-close placeholder-icon"></i>
	  </label>
	  <button class="button button-clear iconfont icon-shezhi" ng-click="modal.show()">
	  </button>
	</div>
</ion-header-bar>

<ion-content class="menulist">
	<div class="list">

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/menu1.jpg">
	      <h2>水煮肉片(吃不够的下饭菜)</h2>
	      <p>零七八岁静时光</p>
	      <span>8.7分 816人做过</span>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/menu4.jpg">
	      <h2>肉沫豆角下饭菜</h2>
	      <p>艾琳love</p>
	      <span>8.4分 5347人做过</span>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/menu2.jpg">
	      <h2>肉沫茄子</h2>
	      <p>肥Dudu</p>
	      <span>8.1分 2315人做过</span>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/menu3.jpg">
	      <h2>麻婆豆腐</h2>
	      <p>大花花西瓜瓜</p>
	      <span>7.9分 12445人做过</span>
	    </a>

	</div>

</ion-content>


<!-- <script id="templates/modal.html" type="text/ng-template">   2.
  <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-model="newUser.lastName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input ng-model="newUser.email" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
          </div>
        </ion-content>
  </ion-modal-view>
</script> -->