<ion-header-bar align-title="center" class="bar-stable banner">

  <div class="row">
    <div class="col col-10">
      <div class="add">
       </div>
    </div>
    <div class="col col-80">
      <input class="search" type="text" placeholder="Search">
    </div>
    <div class="col col-10">
      <div class="basket">
      </div>
    </div>
  </div>
   
</ion-header-bar>
  
<ion-content>
  <!--1-->
  <div class="row banner1">
      <div class="col col-50 cookiebook">
        <a href="">
          <img src="../img/img1.png" alt="">
        </a>
      </div>
      <div class="col col-50 attention">
        
      </div>
  </div>
  <!--2.滚动图-->
  <ion-slide-box class="scoller">
    <ion-slide>
      <div class="box blue">
        <img src="../img/slid1.png" alt="">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box yellow">
        <img src="../img/slid2.png" alt="">
      </div>
    </ion-slide>
  </ion-slide-box>
  <!--厨房周刊-->
  <div>
    <div class="weekly">
      厨房周刊 | 你最不想错过的美食新鲜事
    </div>
    <a href="">
      <img src="../img/weekly.png" alt="">
    </a>
  </div>
  <div></div>
</ion-content>