
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- i厨房 -->
  <ion-tab title="i厨房" icon-off="iconfont icon-fangzi" icon-on="iconfont icon-fangzi" href="#/tab/ikitchen">
    <ion-nav-view name="tab-ikitchen"></ion-nav-view>
  </ion-tab>

  <!-- 创建菜谱 -->
  <ion-tab title="创建菜谱" icon-off="iconfont icon-chufang" icon-on="iconfont icon-iconcaipu" href="#/create/name">
    <ion-nav-view name="tab-create"></ion-nav-view>
  </ion-tab>

  <!-- 菜谱 -->
  <ion-tab title="菜谱" icon-off="iconfont icon-caipu" icon-on="iconfont icon-shipu" href="#/menu/menu-classification">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

  <!-- 我 -->
  <ion-tab title="我" icon-off="iconfont icon-wode" icon-on="iconfont icon-wode" href="#/tab/login">
    <ion-nav-view name="tab-Mine"></ion-nav-view>
  </ion-tab>


</ion-tabs>
