/*
 *菜谱分类
 */

.classification a.cancel {
  color: #ff726d;
  text-decoration: none;
  position: absolute;
  left: 10px;
}

.classification .menu-panel {
  background: #fff;
  padding: 0 5px;
}

.classification .menu-panel .col {
  position: relative;
}

.classification h1 {
  color: #808080;
  font-size: 20px;
  margin: 5px 0 5px 10px;
  font-weight: bold;
}

.classification .menu-panel .col span {
  position: absolute;
  bottom: 15px;
  color: #fff;
  display: inline-block;
  margin-left: 24%;

}

.menu-panel .col-25 {
  float: left;
}
.classification .tile-link{
  display: inline-block;
  position: relative;
}
.classification .tile-link .title{
  bottom: 3px;
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
}
.classification .mask:after, .mask:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
}
.classification .mask:before {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 15%;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
}
.classification .mask:after {
  background: -owg-linear-gradient(bottom,rgba(0,0,0,.4),hsla(0,0%,100%,0));
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,.4),hsla(0,0%,100%,0));
  background: -moz-linear-gradient(bottom,rgba(0,0,0,.4),hsla(0,0%,100%,0));
  background: -o-linear-gradient(bottom,rgba(0,0,0,.4),hsla(0,0%,100%,0));
  -pie-background: -pie-linear-gradient(bottom,rgba(0,0,0,.4),hsla(0,0%,100%,0));
  background: linear-gradient(bottom,rgba(0,0,0,.4),hsla(0,0%,100%,0));
  height: 50%;
  bottom: 15%;
}

article {
  display: block;
  width: inherit;
  height: inherit;
  position: relative;
}
/*
 * create 创建菜谱
 */
.create a.cancel, .create a.next {
  color: #ff726d;
  text-decoration: none;

}

.create a.cancel, .classification a.cancel {
  float: left;
  margin-left: 10px;
}

.create a.next {
  float: right;
  margin-right: 10px;
}

.createfoot.bar-assertive, .createfoot.bar.bar-assertive.bar-footer {
  background: #fb6650;
}

.create .writename {
  margin: 30px auto;
}

.create .writename input {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eae7e7;
  font-family: "微软雅黑";
}

/*创建菜谱详情 detail*/
.create_detail .steps  .stepImg,.create_detail .cover {
  width: 100%;
  height: 250px;
  line-height: 250px;
  background: rgba(245, 245, 243, 0.8);
  text-align: center;
}
.create_detail .steps h4{
  margin-bottom: 20px;
}
.create_detail .steps .item h5{
  font-size: 18px;
  padding-bottom: 5px;
}
.create_detail .steps .item{
  padding: 0;
}

.create_detail .box {
  padding: 10px;
}
.create_detail .box .title{
  padding-bottom: 10px;
  border-bottom: 1px solid #eae7e7;
}

.create_detail .box .title input {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;

}

.create_detail .box textarea {
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
}

.create_detail .material h4 {
  margin-bottom: 20px;
}

.create_detail .material ul {
  overflow: hidden;
}

.create_detail .material ul li {

}

.create_detail .material ul li input {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: left;
}

.create_detail .item-complex .item-content, .item-radio .item-content {
  padding: 0;
}

.create_detail ion-item, .create_detail .item {
  border: none;
}

ion-item input {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: left;
}

.create_detail ion-delete-button,.create_detail ion-reorder-button{
  min-height: 34px;
}
.ion-minus-circled {
  height: 12px;
}

.create_detail .button-icon .icon:before, .button-icon.icon:before {
  font-size: 16px;
}

.create_detail .add {
  position: relative;
  padding: 10px 0;
}

.create_detail .add a {
  color: #ff726d;
}

.create_detail .add a.adj {
  position: absolute;
  right: 0;
}
.create_detail .tag  .menutag label{
  top:16px;
}
.create_detail .tag .scoop{
  height: 80px;
}
.create_detail .tag .scoop label{
  top:25px;
}
.create_detail .tag .scoop:before{
  content: "仅在爱厨房发布，拥有特殊标识";
  font-size: 12px;
  position: absolute;
  top:38px;
  color: #9e9e9e;
}
.create_detail .publish{
  width: 100%;
  height: 45px;
  border: none;
  text-align: center;
  background: #ff726d;
  color: #fff;
  font-size: 16px;
  margin-top:20px;
}
/* 字体图标 */
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e604";
  font-size: 18px;
}

.icon-fangzi:before {
  content: "\e601";
  line-height: 1.2;
  font-size: 25px;
}

.icon-setting:before {
  content: "\e600";
  line-height: 0.8;
  font-size: 40px;
}

.icon-caipu:before {
  content: "\e602";
  line-height: 0.8;
  font-size: 40px;
}

.icon-chufang:before {
  content: "\e603";
  line-height: 1.2;
  font-size: 25px;
}

.icon-basketorganicfoodv1codropswojciechzasina:before {
  content: "\e7c3";
  line-height: 1;
  font-size: 24px;
}

/*菜篮*/
.icon-wode:before {
  content: "\e62c";
  line-height: 1;
}
/*
 * index 首页
 */
/*首页*/
ion-header-bar.ikitchen {
  padding: 0;
}

.bar.bar-stable {
  background: #fff;
}

.banner1, .banner1 .col {
  padding: 0;
}

.sikitchen .search {
  text-align: center;

}

/*首页 内容*/
ion-content.sikitchen {
  background: #f7f6f2
}

.banner1 {
  height: 129px;
}

.cookiebook {
  /* background: url(../img/img1.png); */
  margin-right: 1px;
}

.attention {
  /* background: url(../img/img2.png); */
  margin-left: 1px;
}

.cookiebook img, .attention img, .scoller img, .weekly_box img {
  width: 100%;
}

.scoller {
  height: 75px;
  margin-top: 5px;
}

.scoller .slider-pager {
  bottom: 7px;
}

.slider-pager .slider-pager-page {
  color: #f96650;
}

.weekly {
  color: #3f3e3a;
  text-align: center;
  padding: 10px 0;
}

/*每周流行菜谱*/
.weekly_popu .item h2 {
  margin-bottom: 12px;
}

.weekly_popu .avatar {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 18px;
  top: 8px;
}

.weekly_popu .avatar img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
}

.weekly_popu .avatar h4 {
  text-align: center;
}
/*
 * login
 */
ion-content.login{
  background: #fff;
}
.login .start{
  padding-top: 100px;
  height: 270px;
}
.login .start h2{
  text-align: center;
  padding-bottom: 40px;
}
.login .start p{
  text-align: center;
}
.login .login_way{
  text-align: center;
}
.login .login_way button{
  display: block;
  margin: 0 auto 15px;
  height: 45px;
  width: 70%;
  color: #fff;
  border: none;
}
.login .login_way .wechat{
  background: #6fbd53;
}
.login .login_way .phone{
  background: #fa6650;
}

.login .login_way .other{
  color: #fa6650;
}
/*
* 菜谱详情页 detail
*/
.menu_img{
  width: 100%;
  height: 280px;
}
.menu_img img{
  width: 100%;
  height: 100%;
}
ion-content.menu_detail{
  background: #fff;
}
.menu_detail .content{
  padding:14px 14px 0 14px;
}
.menu_detail .menu_name{
  border-bottom: 1px solid #e5e5e3;
  font-family: "微软雅黑";
  font-size: 24px;
  text-align: center;
  color: #3d3d36;
}
.menu_name h2{

}
.menu_name p{
  font-size: 12px;

}
.author{
  overflow: hidden;
  padding-top: 14px;
}
.author img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: pink;
  float: left;
}
.author p{
  float: left;
  line-height: 60px;
  padding-left: 10px;

}
.desc{
  line-height: 1.5;
}
.menu_detail .material h4,.step h4{
  font-size: 18px;
  font-weight: 800;
  border-bottom: 1px solid #e5e5e3;
  padding-bottom:10px;
}
.material ul li{
  border-bottom: 1px solid #e5e5e3;
  line-height: 24px;
  padding:5px 0;
  color: #3d3d36;
}
.material ul li span{
  display: inline-block;
  width: 49%;
  text-align: left;
}
.step div{
  margin-top: 20px;
}
.step div img{
  margin-bottom: 10px;
  width: 80%;
}
.step div p {
  width: 80%;
  line-height: 1.5;
  color: #3d3d36;
}

.production{
  border-top:1px solid #e4e4e4;
  padding-top: 10px;
}
.production h3{
  font-size: 18px;
  font-family: "微软雅黑";
}
.production .show{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; /*不换行*/
  height: 300px;
  width: 400px;
}
.production .show li{
  display: inline-block;
  width: 200px;
  height: 300px;
  border:1px solid #e4e4e4;
  text-align: center;
  margin:0 10px;
}
.production .show li>img{
  height: 200px;
  background: pink;
}
.production .show li .auth img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: pink;
  float: left;
  margin-left: 20px;
}
.production .show li .auth p{
  margin-left: 10px;
  float: left;
  margin-left: 20px;
  line-height: 30px;
}
.upload{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  background: #f96650;
  color: #fff;
  font-family: "微软雅黑";
}
/*
 * menulist 菜谱搜索列表
 */
ion-header-bar.menulist{
  padding: 0;
}
ion-content.menulist{
  padding-top: 10px;
}

.bar-light .button.ion-ios-arrow-left{
  margin-right: 20px;
}
.menulist .list a h2{
  margin: 5px 0 10px 0;
  color: #3a3a33;
  font-family: "微软雅黑";
}

.menulist .list .item p{
  color: #c5c5c2;
  font-size: 12px;
}

.menulist .list .item span{
  font-size: 12px;
}
.menulist .orderType{
  overflow: auto;
  margin-bottom: 10px;
}
.menulist .orderType li{
  float: left;
  width: 33%;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
}
.menulist .orderType li.active{
  border-bottom: 2px solid #ff654d;
}
.menulist .orderType li a{
  color: #000;
}
.menulist .notFound{
  text-align: center;
  margin: 100px auto;
  width: 200px;
}
.menulist .notFound img{
  width: 200px;
}

/* 模态框 */
.modal{
  top:60%;
}
/* .modal ion-content .item-checkbox{
	background: #f7f6f1;
} */
.radio-content{
  height: 40px;
}
.modal ion-content .item-content{
  background: #f7f6f1;
  padding-left: 44px;
  font-size: 14px;
  color:#61605b;
}
.modal ion-content .radio-icon{
  color:#ff654d;
  font-size: 16px;
  left:0;/* icon改到左侧 */
}
*, h1, h2, h3, h4, h5, h6 {
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
}

.cl {
  clear: left;
}

.color-o, .button.button-clear.color-o {
  color: #ff726d;
}
/*
 * 搜索页面 search
 */
ion-content.menu-search {
  padding-top: 10px;
  background: #fff;
}

.menu-search .hot-key {
  background: #fff;
  padding-top: 20px;
}

.hot-key h4 {
  color: #5f5f5d;
  font-size: 14px;
}

.menu-search .collection h4 {
  font-size: 14px;
  color: #ccc;
  margin-left: 20px;
  padding-top: 10px;
  margin-top: 0;
}

.menu-search .recently h4 {
  display: inline-block;
}

.menu-search .recently a.empty {
  line-height: 34px;
  float: right;
  color: #5f5f5d;
}

.menu-search .hot-key .recently, .menu-search .hot-key .hot {
  padding: 0 20px;
}

.menu-search .hot-key .recently .key_list a, .menu-search .hot-key .hot .key_list a {
  border-radius: 3px;
  color: #5f5f5d;
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 5px 10px;
  background: #fafaf8;
}
.menu-search .searchMenu{
  padding-left: 30px;
}
.menu-search .searchMenu .item {
  font-size: 14px;
  line-height: 30px;
  border: none;
  padding: 5px 0;
  color: #565656;
}

.menu-search .item i {
  font-size: 18px;
}

.menu-search .collection {
  border-top: 1px solid #eaeaea;
  margin:0 10px;
}

.menu-search .collection img {
  width: 45px;
  height: 45px;
}

.menu-search .collection .item {
  border:none;
  padding:5px 70px 0;
}

.menu-search .collection .item h2 {
  line-height: 45px;
}
