/* 创建菜谱 */
.create a.cancel, .create a.next {
  color: #ff726d;
  text-decoration: none;

}

.create a.cancel, .classification a.cancel {
  float: left;
  margin-left: 10px;
}

.create a.next {
  float: right;
  margin-right: 10px;
}

.createfoot.bar-assertive, .createfoot.bar.bar-assertive.bar-footer {
  background: #fb6650;
}

.create .writename {
  margin: 30px auto;
}

.create .writename input {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eae7e7;
  font-family: "微软雅黑";
}

/*创建菜谱详情 detail*/
.create_detail .steps  .stepImg,.create_detail .cover {
  width: 100%;
  height: 250px;
  line-height: 250px;
  background: rgba(245, 245, 243, 0.8);
  text-align: center;
}
.create_detail .steps h4{
  margin-bottom: 20px;
}
.create_detail .steps .item h5{
  font-size: 18px;
  padding-bottom: 5px;
}
.create_detail .steps .item{
  padding: 0;
}

.create_detail .box {
  padding: 10px;
}
.create_detail .box .title{
  padding-bottom: 10px;
  border-bottom: 1px solid #eae7e7;
}

.create_detail .box .title input {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;

}

.create_detail .box textarea {
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
}

.create_detail .material h4 {
  margin-bottom: 20px;
}

.create_detail .material ul {
  overflow: hidden;
}

.create_detail .material ul li {

}

.create_detail .material ul li input {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: left;
}

/*插件*/
.create_detail .item-complex .item-content, .item-radio .item-content {
  padding: 0;
}

.create_detail ion-item, .create_detail .item {
  border: none;
}

ion-item input {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: left;
}

/*插件*/
.create_detail ion-delete-button,.create_detail ion-reorder-button{
  min-height: 34px;
}
.ion-minus-circled {
  height: 12px;
}

.create_detail .button-icon .icon:before, .button-icon.icon:before {
  font-size: 16px;
}

.create_detail .add {
  position: relative;
  padding: 10px 0;
}

.create_detail .add a {
  color: #ff726d;
}

.create_detail .add a.adj {
  position: absolute;
  right: 0;
}
.create_detail .tag  .menutag label{
  top:16px;
}
.create_detail .tag .scoop{
  height: 80px;
}
.create_detail .tag .scoop label{
  top:25px;
}
.create_detail .tag .scoop:before{
  content: "仅在爱厨房发布，拥有特殊标识";
  font-size: 12px;
  position: absolute;
  top:38px;
  color: #9e9e9e;
}
.create_detail .publish{
  width: 100%;
  height: 45px;
  border: none;
  text-align: center;
  background: #ff726d;
  color: #fff;
  font-size: 16px;
  margin-top:20px;
}
