/*搜索页面*/
ion-content.menu-search{
  background: #fff;
}
.menu-search .hot-key{
  background: #fff;
  padding-top: 20px;
}
.hot-key h4{
  color:#5f5f5d;
  font-size: 14px;
}
.menu-search .collection h4{
  font-size: 14px;
  color:#ccc;
  margin-left: 20px;
  padding-top: 10px;
  margin-top:0;
}
.menu-search .recently h4{
  display: inline-block;
}
.menu-search .recently a.empty{
  line-height: 34px;
  float: right;
  color: #5f5f5d;
}
.menu-search .hot-key .recently,.menu-search .hot-key .hot{
  padding: 0 20px;
}
.menu-search .hot-key .recently .key_list a,.menu-search .hot-key .hot .key_list a{
  border-radius: 3px;
  color: #5f5f5d;
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 5px 10px;
  background: #fafaf8;
}

.menu-search .searchMenu .item{
  font-size: 14px;
  padding:5px 50px;
  color: #565656;
}
.menu-search .item i{
  font-size: 18px;
}
.menu-search .collection{
  background: #fff;
}
.menu-search .collection img{
  width: 45px;
  height: 45px;
}
.menu-search .collection .item{
  padding: 10px 70px 10px;
}
.menu-search .collection .item h2{
  line-height: 45px;
}


