*{
	font-family: "微软雅黑";
}
.bar.bar-stable{
  background: #fff;
}
.banner .row,.banner .row .col,.banner1,.banner1 .col{
	padding: 0;
}
.add{
	width: 18px;
	height: 18px;
	background: url(../img/icon.png);
	margin-top: 5px;
}
.search{
	width: 268px;
	height: 28px;
	border-radius: 5px;
	background: #f2f2f0;
	
}
.basket{
	width:20px;
	height: 18px;
	background: url(../img/icon.png) -19px 0;
	margin-top: 5px;
}

/*内容*/
ion-content{
	background: #f7f6f2
}
.banner1{
	height: 129px;
}
.cookiebook{
	/* background: url(../img/img1.png); */
	margin-right: 1px;
}
.attention{
	background: url(../img/img2.png);
	margin-left: 1px;
}

.scoller{
	height: 75px;
	margin-top: 5px;
}
.scoller .slider-pager{
	bottom: 7px;
}
.slider-pager .slider-pager-page{
	color: #f96650;
}

.weekly{
	color: #3f3e3a;
    text-align: center;
    padding: 10px 0;
}

/*popular*/
/*.weekly_popu .item-avatar{
	width: 60px;
	height: 80px;
	border: none;
	background: none;
	padding: 0 ;
}
.weekly_popu .item-avatar img{
	max-width: 50px;
	max-height: 50px;
	/*position: absolute;
	right: 5px;
	top:50px;*/
}*/
.weekly_popu .bb{
	width: 50px;
	height: 50px;
	padding: 0;
	position: absolute;
	top:0;
	right: 0;
}
.weekly_popu .bb img{
	max-width: 50px;
	max-height: 50px;
	border-radius: 25px;
}
